.container
  -# ユーザープロフィール
  = render 'users/profile', user: @user
  
  - if @followers.present?
    %h2 お気に入られ一覧
    %div{:id => "follower_list"}
      = render 'users/users', users: @followers
  - else
    %h2 まだお気に入られされてません
