.cover
  .cover-inner
    .cover-contents
      %h1 みんなでサウナを楽しもう
      = link_to 'はじめる', root_path, class: 'btn btn-success btn-lg cover-button'
.features
  .container
    .section-title.text-center
      %h1.title サウナ部とは
      %h4.title サウナの楽しいを共有したり、サウナー同士が交流するためのサービスです。
      %br
    .row
      .col-md-4.col-sm-6.feature.text-center
        %span.glyphicon.glyphicon-cutlery{"aria-hidden" => "true", :style => "font-size: 40px"}
        %h3.feature-title サ飯
        %p サウナ飯の写真を投稿しよう
        = link_to 'サ飯を見る', users_path, class: 'btn btn-primary btn-sm cover-button'
      .col-md-4.col-sm-6.feature.text-center
        %span.glyphicon.glyphicon-user{"aria-hidden" => "true", :style => "font-size: 40px"}
        %h3.feature-title サ友
        %p サウナ友達を探そう
        = link_to 'サ友を見る', root_path, class: 'btn btn-primary btn-sm cover-button'
      .col-md-4.col-sm-6.feature.text-center
        %span.glyphicon.glyphicon-glass{"aria-hidden" => "true", :style => "font-size: 40px"}
        %h3.feature-title サ会
        %p サウナイベントやサウナ飲み会を開こう
        = link_to 'サ会を見る', root_path, class: 'btn btn-primary btn-sm cover-button' 
