.cards-list
  .cards-list__tab.flex-box
    .cards-list__tab__item
      .cards-list__tab__inactive
        = link_to 'みんなの投稿', foods_path
    .cards-list__tab__item
      .cards-list__tab__active
        = link_to 'お気に入りの投稿', following_foods_path
  = render 'foods', foods: @foods