.cards-list
  .cards-list__tab.flex-box
    .cards-list__tab__item.ml-50
      .cards-list__tab__active
        = link_to 'みんなのサ飯', foods_path
    .cards-list__tab__item
      - if user_signed_in?
        .cards-list__tab__inactive
          = link_to 'お気に入りのサ飯', following_foods_path
      - else
        .cards-list__tab__inactive
          %span お気に入りのサ飯
  = render 'foods/foods', foods: @foods