.container
  - if @foods.present?
    .section-title.text-center
      %h2 サ飯
    /投稿ボタン
    = render "new-btn"
    -# 検索フォーム
    = render 'search_form', q: @q
    -# 投稿一覧
    = render 'foods_list', foods: @foods
  - else
    %h2 まだ投稿がありません