@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";
@import "foods";

body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

h1,h2 {
  text-align: center;
  margin: 30px 0;
}
h3,h4 {
  margin: 15px 0;
}

ul{
  list-style: none;
  padding-inline-start: 0;
}



a {
  color: #333;
}

.bottom-buffer { 
  margin-bottom:100px; 
}

.btn-primary {
  background: #04A2F9; //ボタンの背景色
  border-color: #04A2F9;
}
// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル
.alert {
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// navbar
.navbar {
  background-color: white;
}
.navbar-header img {
  height: 50px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  background: url("/images/top-background.jpg") center center no-repeat;
  background-size: cover;
  .cover-inner {
    height: 100%;
    margin: auto;
    display: table;
    .cover-contents {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative;
      h1 {
        margin: 0 0 20px 0;
        padding: 3em 0;
        color: white;
        font-weight: bold;
        letter-spacing: 0.15em;
        font-size: 6vw;
        text-shadow: black 1px 1px 0px, black -1px 1px 0px,
      }      
    }    
  }
}

.cover-button {
  margin-bottom: 20px;
}

/*footer*/

#footer {
  padding: 2em 0;
  background: #323a45;
  color: #878c93;
  bottom: 0;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  width: 100vw;
}

#footer .footer-content {
  justify-content: center;
  position: relative;
  z-index: 9;
}

#footer .container .row > div {
  margin-bottom: 30px;
}

#footer p {
  display: block;
}

#footer .fh5co-copyright small {
  font-size: 12px;
}

#footer .lead {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  margin-bottom: 20px;
}

#footer a {
  color: #9a9fa5;
  padding: 5px, 15px;
  &:hover, &:active, &:focus {
    color: #4fd2c2;

  }
}

#footer ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0 0 14px 0;
    line-height: 16px;
  }
}

.pt-20{
  padding-top: 20px;
}
.ml-5{
  margin-left: 5px;
}
.ml-10{
  margin-left: 10px;
}
.ml-20{
  margin-left: 20px;
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}

.mb-100{
  margin-bottom: 100px;
}

.mr-10{
  margin-right: 10px;
}

.flex-box{
  display: flex;
}

.new-btn {
  width: 120px;
  background: #EA352D;
  text-align: center;
  border-radius: 20%;
  bottom: 50px;
  right: 50px;
  position: fixed;
  padding: 15px;
  z-index: 1;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon {
    width: 60%;
  }
}

.container {
  min-height: calc(100vh - 220px);
  padding-bottom: 100px;
}

.form-control-select {
  width: auto;
  padding: 5px;
}

.base-btn {
  font-size: 0.8rem;
  border-radius: 40px;
  width: auto;
}

.hidden-btn{
  display: none;
}

.base-textarea {
  border: 2px solid #20c997;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: snow;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.2;
}

.pagination>li>a {          
  border: none;    
  color: #696969;  
}

.pagination>.active>a {     
  background: #93c9ff;    
  border-radius: 15px;     
}

.pagination>li>a:hover {        
  border-radius: 15px;    
}