.cards-list {
  &__tab{
    font-size: 18px;
    &__active{
      background-color: #FFF;
      padding: 10px;
      border-radius: 12px 12px 0 0;
    }
    &__inactive{
      background-color: lightgray;
      padding: 10px;
      border-radius: 12px 12px 0 0;
    }
  }
}

.cards-body{
  padding: 20px 40px;
  background-color: #FFF;
  margin-bottom: 30px;
  border-radius: 12px;
}

.cards{
  padding-bottom: 10px;
  background-color: #FFF;
  margin-bottom: 15px;
  border-bottom: 1px solid;
  &__upper{
    margin: 5px 0;
  }
  &__under{
    display: flex;
  }
}

.food-img{
  height: auto;
  width: 100%;
}

.food-detail{
  padding: 10px;
  background-color: #FFF;
  margin-bottom: 15px;
  border-radius: 12px;
  width: 90%;
  max-width: 450px;
  &__user-info{
    margin-bottom: 5px;
  }
  &__lists{
    margin-top: 10px;
    margin-left: 10px;
    &__list{
      display: flex;
      &__key{
        width: 100px;
        display: block;
        font-weight: bold;
      }

    }
  }
}

.edit-btn{
  width: 100%;
} 

.food_map {
  padding: 40px 0;
  border-top: 1px solid #eaeaea;
  #map {
    width: 100%;
    height: 400px;
    border-radius: 5px;
  }
}
