.cards{
  padding-bottom: 10px;
  background-color: #FFF;
  margin-bottom: 15px;
  border-radius: 12px;
 
  &__upper{
    margin: 5px 0;
  }
  &__under{
    display: flex;
  }
}

.food-img{
  height: auto;
  width: 100%;
}