.liked-btn{
  color: red;
}

.like-btn{
  color: grey;
}

.liked-base-btn {
  border-color: red;
  font-size: 0.8rem;
  border-radius: 40px;
  width: auto;
}

.like-base-btn {
  font-size: 0.8rem;
  border-radius: 40px;
  width: auto;
}

.like-icon{
  color: red;
}