.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #dc3545;
}

.notification-list{
  margin: auto;
  max-width: 760px;
  padding: 20px 40px;
  background-color: #FFF;
  margin-bottom: 30px;
  border-radius: 12px;
}
