.mypage{
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 12px;
}
.mypage-wrapper{
  padding: 40px 40px 0;
  margin-bottom: 10px;
}

.mypage-header{
  &__info{
    display: flex;
    justify-content: space-between;
  }
  &__contents{
    display: flex;
    margin-bottom: 10px;
    &__main{
      margin-left: 20px;
    }
  }
  
}

.mypage-profile{
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  &__lists{
    &__list{
      display: flex;
      margin-bottom: 5px;
      &__key{
        display: block;
        width: 120px;
      }
    }
  }
}

.mypage-content{
  padding: 0 10px;
  &__lists{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    &__list{
      width: 150px;
      font-size: 15px;
      padding: 18px 10px;
    }
  }
}

.users-info{
  padding: 10px;
  background-color: #FFF;
  margin-bottom: 15px;
  border-radius: 12px;
  &__upper{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    
    &__icon{
      margin: 5px;
    }
  }
  &__under{
    margin-left: 5px;
    &__lists{
      &__list{
        display: flex;
        &__key{
          display: block;
          width: 120px;
        }
      }
    }
  }
}